# Archivos de base de datos y credenciales generados
homify/datos/sistema.db
homify/datos/usuarios_credenciales.txt

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# Entorno virtual
env/
venv/
.venv/